name: TestDriver - Installation Tests

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-workflow:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test_file:
          - testdriver/onboarding/onboarding.yaml
    steps:
      - name: Checkout the repo to access the test files
        uses: actions/checkout@v4

      - name: Run TestDriverAI
        run: |
          npx testdriverai@latest run ${{ matrix.test_file }} --sandbox-instance=c5.2xlarge
        env:
          FORCE_COLOR: 3
          TD_API_KEY: ${{ secrets.TESTDRIVER_API_KEY }}
          TD_THIS_FILE: ${{ matrix.test_file }}

      - name: Set sanitized artifact name
        run: echo "ARTIFACT_NAME=testdriverai-cli-logs-${{ github.run_id }}-${{ matrix.test_file }}" | sed 's/\//_/g' >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: /tmp/testdriverai-cli-*.log
          if-no-files-found: ignore
